{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %} 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <center><div id="main" class="product-list" style="margin-left: auto; margin-right: auto;">
        <div class="product-grid">
            {% for product in cart %}
            <div class="item" style="padding-bottom: 40px;">

                {% if product.available == True %}
                <a href="{{ product.get_absolute_url }}" class="product-link">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" 
                        alt="{{ product.name }}" 
                        class="product-image"
                        width="70%" height="70%" style="max-width: 500px; max-height: 700px;">
                </a>
                <div class="text-center">
                    <a href="{{ product.get_absolute_url }}" style="padding-top: 50%;" class="product-title">
                        {{ product.name }}
                    </a>
                    
                    <div class="product-price">
                        {{ product.price }} ₽
                    </div>
                    
                </div>
                {% else %}
                <div class="image-container">
                    <a>
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" 
                            alt="{{ product.name }}" 
                            class="product-image"
                            width="70%" height="70%" style="max-width: 500px; max-height: 700px;">
                        <div class="sold-out-tag">Распроданный</div>
                    </a>
                    <div class="product-details text-center">
                        <a class="product-title">{{ product.name }}</a>
                        <div class="product-price">{{ product.price }} ₽</div>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div></center> 
    <form action="{% url 'orders:order_create' %}">
        <center><button type="submit" class="btn-cart">Оформить заказ</button></center>
    </form>
{% endblock %}
