{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    <center>
        <div>
                <img src="{% static 'img/image.jpg' %}" style="border-radius: 10%; margin-top: 195px;">
                <div class="titillium-web-semibold" style="font-size: 30px; margin-top: 20px">О нас</div>
        </div>
        <div style="font-family: 'Tilda Sans', sans-serif; font-size: 25px;">IBUY - сервис, который занимается доставкой вещей из Китая, Южной Кореи, Европы, а также может пополнить гардероб вещами из наличия.</div>
        <div class="titillium-web-semibold" style="font-size: 30px; margin-top: 20px">Отзывы</div>
        <div style="font-family: 'Tilda Sans', sans-serif; font-size: 25px;">Более 100 положительных отзывов по всему интернету - наше главное достижение и доказательство доверия клиентов.</div>
        <div class="titillium-web-semibold" style="font-size: 30px; margin-top: 20px">Аутентификация</div>
        <div style="font-family: 'Tilda Sans', sans-serif; font-size: 25px;">Каждый вложенный товар проходит проверку на подлинность.</div>
        <div class="titillium-web-semibold" style="font-size: 30px; margin-top: 20px">Доставка</div>
        <div style="font-family: 'Tilda Sans', sans-serif; font-size: 25px;">Заказы, оплаченные до 18:00(МСК), отправляем в тот же день. Доступны все популярные службы доставки.</div>
        <div class="titillium-web-semibold" style="font-size: 30px; margin-top: 20px">Оплата</div>
        <div style="font-family: 'Tilda Sans', sans-serif; font-size: 25px;">Принимаем в ряблях, долларах, юанях (Русские карты, крипто-кошельки, Alipay).</div>
        <div class="titillium-web-semibold" style="font-size: 30px; margin-top: 20px">Возврат</div>
        <div style="font-family: 'Tilda Sans', sans-serif; font-size: 25px;">Возврата  нет. Только в случае если вещь оказалась неоригинальной (такого нет и не было, каждая вещь проходит проверку на оригинальность перед публикацией).</div>
        <div class="titillium-web-semibold" style="font-size: 30px; margin-top: 20px">Дополнительно</div>
        <ul style="text-align: center; list-style-position: inside">
            <li style="font-family: 'Tilda Sans', sans-serif; font-size: 25px;">Доступна доставка курьером по Москве и Набережным Челнам.</li>
            <li style=" font-family: 'Tilda Sans', sans-serif; font-size: 25px;">При покупке двух и более товаров доставка бесплатная.</li>
            <li style=" font-family: 'Tilda Sans', sans-serif; font-size: 25px;">Рассматриваем обмены (имформацию уточняйте у <a href="https://t.me/IBUYrussia">менеджера</a>)</li>
        </ul>
    </center>
{% endblock %}