{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    <div style="font-family: Tilda, sans-serif; margin-top: 195px; margin-left: 10%; margin-right: 10%; font-size: 23px;"><strong>О нас</strong></div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">IBUY - сервис, который занимается доставкой вещей из Китая, Южной Кореи, Европы, а также может пополнить гардероб вещами из наличия.</div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 23px; margin-left: 10%; margin-right: 10%;"><strong>Отзывы</strong></div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">Более 100 положительных отзывов по всему интернету - наше главное достижение и доказательство доверия клиентов.</div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 23px; margin-left: 10%; margin-right: 10%;"><strong>Аутентификация</strong></div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">Каждый вложенный товар проходит проверку на подлинность.</div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 23px; margin-left: 10%; margin-right: 10%;"><strong>Доставка</strong></div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">Заказы, оплаченные до 18:00(МСК), отправляем в тот же день. Доступны все популярные службы доставки.</div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 23px; margin-left: 10%; margin-right: 10%;"><strong>Оплата</strong></div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">Принимаем в рублях, долларах, юанях (Русские карты, крипто-кошельки, Alipay).</div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 23px; margin-left: 10%; margin-right: 10%;"><strong>Возврат</strong></div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">Возврата  нет. Только в случае если вещь оказалась неоригинальной (такого нет и не было, каждая вещь проходит проверку на оригинальность перед публикацией).</div>
    <br>
    <div style="font-family: 'Tilda', sans-serif; font-size: 23px; margin-left: 10%; margin-right: 10%;"><strong>Дополнительно</strong></div>
    <ul>
        <li style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">Доступна доставка курьером по Москве и Набережным Челнам.</li>
        <li style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">При покупке двух и более товаров доставка бесплатная.</li>
        <li style="font-family: 'Tilda', sans-serif; font-size: 20px; margin-left: 10%; margin-right: 10%;">Рассматриваем обмены (имформацию уточняйте у <a href="https://t.me/IBUYrussia">менеджера</a>)</li>
    </ul>
    <br>
{% endblock %}