{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <style>
            a.white_txt { 
                color: black;
            }
            a.white_txt:hover { 
                color:white;
            }
        </style>
    <script>
        (function(){
    const carousel = {
      element: document.querySelector('#carousel'),
      previous:  document.querySelector('#carousel .previous'),
      next:  document.querySelector('#carousel .next'),
      images: document.querySelectorAll('#carousel li'),
      tick: 2,
      pause: 3000,
    }

    //инициализация
    for(let i = 0; i < carousel.images.length; ++i){
        carousel.images[i].left = carousel.element.offsetWidth * i;
        carousel.images[i].style.left = carousel.images[i].left + 'px';
    }

    //анимация смещения
    let j = 0, step = carousel.element.offsetWidth;
    function animation(){
      if( j < step){
        j += 2;
        for(let i = 0; i < carousel.images.length; ++i){
          carousel.images[i].left -= 2;
          carousel.images[i].style.left = carousel.images[i].left + 'px';
        }
    
       setTimeout(animation, carousel.tick)
      } else {
        for(let i = 0; i < carousel.images.length; i++){
          if(  carousel.images[i].left == -carousel.element.offsetWidth ){
            carousel.images[i].left = carousel.element.offsetWidth * (carousel.images.length-1)
            break;
          }
        }

        j = 0;
        setTimeout(animation, carousel.pause);
      }
    }
    animation();

  })();
    </script>
</head>
<body>
    <nav>
       <input type="checkbox" id="side-checkbox" />
            <div class="side-panel">
                <label class="side-button-2" for="side-checkbox">+</label>
                <a class="white_txt" style='position: absolute; top: 40%; left: 10%; font-family: "Titillium Web", sans-serif; font-weight: 900; font-size: 40px; text-decoration: none;' href="http://127.0.0.1:8000">Домой</a>
                <a class="white_txt" style='position: absolute; top: 50.5%; left: 10%; font-family: "Titillium Web", sans-serif; font-weight: 900; font-size: 40px; text-decoration: none;' href="http://127.0.0.1:8000/cart">Корзина</a>
                <a class="white_txt" style='position: absolute; top: 61%; left: 10%; font-family: "Titillium Web", sans-serif; font-weight: 900; font-size: 40px; text-decoration: none;' href="http://127.0.0.1:8000/about_us">О нас</a>
                <a href="https://t.me/IBUYrussia" target="_blank" title="Написать в Telegram" rel="noopener noreferrer"><div class="telegram-button"><i class="fa fa-telegram"></i></div></a>
            </div>

        <div class="navbar">
          <label for="side-checkbox">
                    <div class="container">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </label>
            {% with total_items=cart|length %}
                <a href="{% url 'cart:cart_detail' %}">
                    <img src="{% static 'img/basket.svg' %}" class="basket" height="50px" width="100px" style="position: absolute; top: 34%; left: 15%;" />
                </a>
            {% endwith %}
            <center> 
                <img src="{% static 'img/logo.png' %}" width="170" height="170">
            </center> 
            <!-- <div class="search-box">
                    <input type="text" name="" class="search-txt" placeholder="Найти товар"/>
                    <a class="search-btn" href="#">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </div> -->
        </div>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body> 
</html>